<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjhy.cloud.user.dao.SysScheduleJobMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.rjhy.cloud.user.entity.SysScheduleJob">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="class_name" property="className" />
		<result column="times" property="times" />
		<result column="auto_start" property="autoStart" />
		<result column="status" property="status" />
		<result column="last_runtime" property="lastRuntime" />
		<result column="comments" property="comments" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, class_name AS className, times, auto_start AS autoStart, status, last_runtime AS lastRuntime, comments, create_user_id AS createUserId, create_time AS createTime, update_user_id AS updateUserId, update_time AS updateTime
    </sql>

</mapper>
